# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#driver output
*.symvers
*.order
*.ko
*.ko.cmd	
*.mod.c
*.mod.o
*.mod.o.mod
*.o.cmd
*.tmp_versions/
*.RFM12.ko.cmd
